<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/stylesheet/addCategory.css">
</head>

<body>
    <div class="d-flex flex-column flex-lg-row">
        <!-- Sidebar -->
        <%- include("../../views/partials/admin/sidebar") %>

            <!-- Main Content -->
            <div class="container-fluid p-4">
                <div class="d-flex justify-content-between align-items-center mb-4 head-container">
                    <!-- <div class="d-flex align-items-center">
                        <input type="text" class="form-control me-2" placeholder="Search">
                        <button class="btn btn-outline-primary">Search</button>
                    </div> -->
                </div>
                <div class="card shadow-sm">
                    <div class="d-flex justify-content-between align-items-center p-2 mb-2 flex-wrap head-container">
                        <nav aria-label="breadcrumb" class="p-1 m-0">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item text-secondary"><a href="/admin/category">Category</a></li>
                                <li class="breadcrumb-item text-dark fw-bold" aria-current="page">Add Category</li>
                            </ol>
                        </nav>
                    </div>
                    <main class="col">
                        <div class="p-4">
                            <!-- <h4 class="mb-4">Category &rsaquo; Add</h4> -->
                            <% if (locals.message && locals.message.length> 0) { %>
                                <div id="alertMessage" class="alert alert-danger alert-dismissible fade show"
                                    role="alert">
                                    <%= locals.message %>
                                </div>
                                <% } %>
                                    <% if (locals.success && locals.success.length> 0) { %>
                                        <div id="alertMessage" class="alert alert-success alert-dismissible fade show"
                                            role="alert">
                                            <%= locals.success %>
                                        </div>
                                        <% } %>
                                            <div class="card shadow-sm">
                                                <div class="card-body">
                                                    <form action="/admin/addCategory" method="post">
                                                        <!-- Category Name -->
                                                        <div class="mb-3">
                                                            <label for="category"
                                                                class="form-label fw-bold">Category</label>
                                                            <input type="text" id="category" name="category"
                                                                class="form-control" placeholder="Type here" />
                                                            <div id="category-error" class="error-message"></div>
                                                        </div>
                                                        <!-- Category status -->
                                                        <div class="mb-3">
                                                            <label for="categoryStatus"
                                                                class="form-label fw-bold">Category
                                                                Status</label>
                                                            <select id="categoryStatus" name="categoryStatus"
                                                                class="form-select">
                                                                <option value="" disabled selected>Select status
                                                                </option>
                                                                <option value="list">List</option>
                                                                <option value="unlist">Unlist</option>
                                                            </select>
                                                            <div id="status-error" class="error-message"></div>
                                                        </div>
                                                        <!-- Description -->
                                                        <div class="mb-3">
                                                            <label for="description"
                                                                class="form-label fw-bold">Description</label>
                                                            <textarea id="description" name="description"
                                                                class="form-control" rows="3"
                                                                placeholder="Type here"></textarea>
                                                            <div id="description-error" class="error-message"></div>
                                                        </div>
                                                        <!-- Cover Photo -->
                                                        <!-- <div class="mb-4">
                                                            <label for="coverPhoto" class="form-label fw-bold">Category Cover
                                                                Photo</label>
                                                            <input type="file" id="coverPhoto" name="coverPhoto" class="form-control" />
                                                        </div> -->
                                                        <!-- Buttons -->
                                                        <div class="d-flex justify-content-between">
                                                            <a href="/admin/category" type="button"
                                                                class="btn btn-outline-secondary">Cancel</a>
                                                            <button type="submit" class="btn btn-dark">Create
                                                                Category</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                        </div>
                    </main>

                </div>
            </div>


    </div>
    <script src="/js/admin/addCategory.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.2/dist/sweetalert2.min.js"></script>

    <!-- <script>
        document.querySelector("form").onsubmit = function (event) {
            if (!validateForm()) {
                event.preventDefault();
            }
        };

        function validateForm() {
            clearErrorMessages();

            const category = document.getElementById("category").value.trim();
            const description = document.getElementById("description").value.trim();
            const status = document.getElementById("categoryStatus").value;
            let isValid = true;

            if (!category) {
                displayErrorMessage("category-error", "Please enter a category name");
                isValid = false;
            } else if (!/^[a-zA-Z\s]+$/.test(category)) {
                displayErrorMessage("category-error", "Category name should only contain letters");
                isValid = false;
            }

            if (!description) {
                displayErrorMessage("description-error", "Please enter a description");
                isValid = false;
            }

            if (!status) {
                displayErrorMessage("status-error", "Please select a category status");
                isValid = false;
            }

            return isValid;
        }

        function displayErrorMessage(elementId, message) {
            const errorElement = document.getElementById(elementId);
            errorElement.innerText = message;
            errorElement.style.display = "block";
            errorElement.classList.add("text-danger");

            setTimeout(() => {
                errorElement.innerText = "";
                errorElement.style.display = "none";
            }, 4000);

        }

        function clearErrorMessages() {
            const errorElements = document.querySelectorAll(".error-message");
            errorElements.forEach((element) => {
                element.innerText = "";
                element.style.display = "none";
            });
        }


        window.onload = function () {
            const alertMessage = document.getElementById("alertMessage");
            if (alertMessage) {
                setTimeout(() => {
                    alertMessage.classList.remove("show");
                    alertMessage.classList.add("d-none");
                    alertMessage.innerText = ""
                }, 4000);
            }
        };
    </script> -->

</body>