<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Offer</title>
    <link rel="icon" type="image/png" href="/icon/apple.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/stylesheet/addProduct.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <style>
        .error-text {
            color: red;
            font-size: 0.9em;
            margin-top: 4px;
            display: block;
        }
    </style>
</head>

<body>
    <div id="alertBox">
    </div>
    <div class="d-flex flex-column flex-lg-row">
        <%- include("../../views/partials/admin/sidebar") %>
            <div class="container-fluid p-4">


                <div class="d-flex justify-content-between align-items-center p-2 mb-2 flex-wrap head-container">
                    <nav aria-label="breadcrumb" class="p-1 m-0">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item text-secondary"><a href="/admin/offers">Offers</a></li>
                            <li class="breadcrumb-item text-dark fw-bold" aria-current="page">Add Offer</li>
                        </ol>
                    </nav>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <form id="product-form">
                            <div class="row g-3">

                                <div class="input-row">
                                    <div class="col-md-6">
                                        <label for="stockStatus" class="form-label">Offer (Product/Category)</label>
                                        <select name="Offers" id="offers" class="form-select">
                                            <option value="">Select</option>
                                            <option value="category">Category</option>
                                            <option value="product">Product</option>
                                        </select>
                                        <span id="offers-error" class="error-text"></span>

                                    </div>
                                    <div class="col-md-6">
                                        <label for="productName" class="form-label">Product/Category Name</label>
                                        <select name="product_category" id="product-category" class="form-select">
                                            <option value="">Select</option>
                                            <input type="hidden" id="prd-cat-id">
                                        </select>
                                        <span id="product-category-error" class="error-text"></span>

                                    </div>
                                </div>


                                <div class="input-row">
                                    <div class="col-md-6">
                                        <label for="quantity" class="form-label">Title</label>
                                        <input type="text" name="title" class="form-control" id="quantity"
                                            placeholder="Enter Title" />
                                        <span id="title-error" class="error-text"></span>
                                    </div>

                                    <!-- Category -->
                                    <div class="col-md-6">
                                        <label for="category" class="form-label">Discription</label>
                                        <textarea name="discription" id="discription"></textarea>
                                        <span id="description-error" class="error-text"></span>

                                    </div>
                                </div>

                                <div class="input-row">
                                    <div class="col-md-6">
                                        <label for="status" class="form-label">Status</label>
                                        <select class="form-select" name="status" id="status">
                                            <option selected>Active</option>
                                            <option>Inactive</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="offer" class="form-label">Offer %</label>
                                        <input type="number" name="offer" id="offer">
                                        <span id="offer-error" class="error-text"></span>
                                    </div>

                                </div>

                                <div class="input-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="startDate" class="form-label">Start Date</label>
                                        <input type="date" class="form-control" id="startDate">
                                        <span id="startDate-error" class="error-text"></span>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="endDate" class="form-label">End Date</label>
                                        <input type="date" class="form-control" id="endDate">
                                        <span id="endDate-error" class="error-text"></span>
                                    </div>
                                </div>
                                <input type="hidden" value='<%= JSON.stringify(allProduct) %>' id="allProduct">
                                <input type="hidden" value='<%= JSON.stringify(allCategory) %>' id="allCategory">

                                <div class="input-row">
                                    <button class="button" id="submit-btn" type="submit">Add Product</button>
                                    <a href="/admin/offers" class="button-2">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>

    <script src="/js/admin/addOffer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>