

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h4 {
    color: #343a40;
}

.card {
    border: none;
    border-radius: 10px;
}



.btn-dark {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:hover {
    background-color: #212529;
    border-color: #212529;
}

.btn-outline-secondary:hover {
    background-color: #e82611;
    color: #ffffff;
    
}

.form-label {
    font-weight: 500;
}