

.card {
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
}

.card-body {
    padding: 1.5rem;
}

.pagination {
    justify-content: center;
}



.nav-link:hover {
    background-color: #464545;
    color: #ffffff !important;
    border-radius: 5px;
}

