<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password Page</title>
  <link rel="stylesheet" href="/stylesheet/login.css">
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h1>Forgot Password</h1>
      <p>Please enter your name and the email address associated with your account. <br> We'll promptly send you a link to reset your password.</p>
      <form action="/forgotPassword" method="POST">
        <input type="email" placeholder="Email" name="email" required>
        <button class="create-account-btn" type="submit">Continue</button>
      </form>
    </div>
    <div class="image-container">
      <img src="/image/lap.webp" alt="Placeholder Image">
    </div>
  </div>
</body>
</html>
