<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Page</title>
  <link rel="stylesheet" href="/stylesheet/login.css">
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h1>Enter OTP</h1>
      <p>Enter OTP code sent to abc.....z@gmail.com</p> <!-- Dynamically display email (if passed from server) -->
      <form action="#" method="POST">
        <input type="text" placeholder="OTP" name="otp" required>
        <button class="create-account-btn" type="submit">Continue</button>
        <p class="login-link">
            Don't receive OTP code? <a href="#">Resend</a>
        </p>
      </form>
    </div>
    <div class="image-container">
      <img src="/image/lap.webp" alt="Placeholder Image">
    </div>
  </div>
</body>
</html>
