<div class="d-flex justify-content-between align-items-center mb-4 head-container">
    <h3>Welcome to Dashboard</h3>
    <div class="d-flex align-items-center">
        <input type="text" class="form-control me-2" placeholder="Search">
        <button class="btn btn-outline-primary">Search</button>
    </div>
</div>